:root {
  --primary-color: #4CAF50;
  --primary-light: #81C784;
  --primary-dark: #388E3C;
  --success-color: #66BB6A;
  --warning-color: #FFA726;
  --error-color: #EF5350;
  --info-color: #78909C;
}

[data-theme="dark"] {
  --primary-color: #0581c0;
  --primary-light: #65acee;
  --primary-dark: #1f266b;
  --success-color: #81C784;
  --warning-color: #FFB74D;
  --error-color: #EF5350;
  --info-color: #81C784;
}